/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#EEEEEE, #eeeeee);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styles for the banner section */
/* Styles for the banner section */
.banner {
    width: auto;
    position: relative;
    margin-bottom: 1.5rem;
    text-align: center;
}

.banner__imagem {
    width: 100%;
    border-radius: 50px;
}

.banner__titulo-container {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 10px; /* Adiciona um espaço entre o título e a imagem */
}

.banner__titulo {
    color: #000000;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.7); /* Adiciona um fundo semi-transparente */
    border-radius: 10px; /* Adiciona borda arredondada */
    display: inline-block; /* Permite que o background se ajuste ao texto */
    padding: 10px 20px; /* Adiciona padding ao texto */
}

/* Header styles */
.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 4rem 0;
}

.cabecalho__busca {
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(45deg, #eeeeee, #fefffe);
    display: flex;
    padding: 2px;
}

.busca__fundo {
    align-items: center;
    background-color: #686d76;
    border-radius: 8px;
    display: flex;
    width: 100%;
}

.busca__input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    height: 24px;
    padding: 10px;
    width: 500px;
}

.busca__icone {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

/* Card styles */
.cards {
    width: 100%;
}

.cards__titulo {
    color: #060706;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.cards__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 10px 10px #00000050;
    color: #000000;
    margin-bottom: 1rem;
    width: calc(47% - 0.5rem);
}

.card__imagem {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card__info {
    font-size: 1.2rem;
    padding: 0 1.5rem 1rem 1.5rem;
}

.card__titulo {
    font-weight: bold;
    margin-top: 0.8em;
}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__descricao {
    font-size: 0.6em;
    margin-top: 0.8em;
}

/* Sidebar menu styles */
.menu-lateral {
    padding-right: 1.5rem;
    box-sizing: border-box;
    min-width: 270px;
}

.menu-lateral__navegacao {
    display: flex;
    flex-direction: column;
}

.menu-lateral__navegacao a {
    font-family: 'Space Grotesk', sans-serif;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}

.menu-lateral__navegacao a:first-child {
    font-weight: bold;
}

.menu-lateral__navegacao img {
    margin-right: 1.5rem;
}

/* Footer styles */
.rodape {
    background-color: #686d76;
    width: 100%;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    color: #EEEEEE;
}

.rodape__icones {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.rodape__texto {
    font-size: 1.1rem;
}

/* Tag styles */
.tags {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    color: #686d76;
    font-size: 1.3rem;
}

.tags__titulo {
    margin-right: 4rem;
}

.tags__lista {
    display: flex;
}

.tags__tag {
    background-color: #686d76;
    margin-right: 1.5rem;
    border-radius: 8px;
    padding: .8rem .5rem;
    width: 100px;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
}

.tags__tag:hover {
    border: 2px solid #686d76;
}

/* General styles */
.pagina-inicial {
    max-width: 1440px;
    padding: 1.5rem;
    margin: 0 auto;
}

.principal {
    display: flex;
    justify-content: space-between;
}

/* Authentication and button styles */
.botao-login,
.botao-registro,
.botao-logout {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #535553;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.botao-login:hover,
.botao-registro:hover,
.botao-logout:hover {
    background-color: #373737;
}

.mensagem-autenticacao {
    color: rgb(255, 0, 0);
    font-size: 14px;
    margin-bottom: 10px;
}

.mensagem-bemvindo {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-bottom: 10px;
}

.titulo {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 1.5px;
}
